/**
* Project: araceli-frontend
* Created by: Michael Hütter
* Created at: 12.06.2024
*/

h1 {
    font-size: 2rem;
}


h2 {
    font-size: 1.5rem;
}


h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}